.cnt-footer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
}

.cnt-footer ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    list-style-type: none;
}

.cnt-footer ul li {
    position: relative;
    padding-left: 20px;
}

.cnt-footer .ulLogo .liLogo::before {
    content: "•";
    color: #36394A;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.cnt-logoName {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 200px;
    padding-bottom: 40px;
}
.linkInternal{
    color: white;
    text-decoration: none;
}

.textLogoFooter {
    font-size: 35px;
    font-weight: bold;
}

.cnt-contactUsFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cnt-contactUsFooter .email {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

.cnt-contactUsFooter .contact-button {
    font-size: 18px;
    color: white;
    background-color: #0C4E6E;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.contact-button {
    width: 163px;
    height: 54px;
}

.cnt-btnFooterEmail {
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 20px 0;
    list-style-type: none;
}

.social-icons a {
    color: white;
    font-size: 30px;
    transition: color 0.3s ease;
}

.cnt-Polit ul {
    padding: 40px 0 50px;
}

.cnt-Polit ul li {
    padding-left: 0;

}

.text-resve {
    text-align: center;
    color: grey;
    font-size: 14px;
}

.linkInternalPoliti{
    text-decoration: none;
    color: white;
}
