main {
    background-color: #F6F8FA;
}

.cnt-title {
    padding: 15px;
}

.titleHome {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2;
    padding-top: 20px;
}

.subtitleHome {
    text-align: center;
    padding-top: 20px;
    color: #6F6F6F;
    line-height: 1.2;
    font-size: 15px;
}

.imgPortada {
    position: relative;
    display: inline-block;
}

.portadaHome {
    display: block;
    width: 100%;
    height: auto;
}

.textCTAimgPorta {
    display: flex;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.arrowImgPorta {
    padding-left: 6px;
}

.titleAcordenon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0 50px 0;
}

.imgAcordeonHome{
    width: 100%;
    height: 300px;
    border-radius: .6rem;
}

.cnt-cardAcordeon{
    padding: 35px 10px;
}

.subTitleAcor{
    font-size: 40px;
    font-weight: 400;
}

.btnAcordeon{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#6F6F6F ;
    background-color: transparent;
    border: 1px solid #A4ACB9;
    height: 2.5rem;
    width: 8rem;
    border-radius:3rem;
    box-shadow: 0px 4px 5px -6px rgba(0, 0, 0, 0.75);
}

.upRigAcordeon{
    font-size: 13px;
    padding-left: 10px;
}
.separaAcordeon{
    text-align: center;
    border: none;
    height: 0.5px; 
    background-color: #dedfe1; 
    width: 95%;
}

.numCard{
    font-size: 30px;
    font-weight: 600;
    color: orange;
    padding-right: 10px;
}

.subcardAcorde {
    font-size: 25px;
    color: black;
    padding-bottom: 25px;
}

.learnMoreLink{
    text-decoration: none;
    color:#6F6F6F ;
}
.cnt-linkMoreAcordeon{
    padding-top: 20px;
}
.arrowLinkAcor{
    padding-left: 5px;
}